body {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto auto auto auto;
    grid-template-areas:
        "header header header"
        "nav nav nav"
        "main main main"
        "footer footer footer";
    flex-wrap: wrap;
    overflow-x: hidden;
}

header {
    grid-area: header;
    text-align: center;
    font-family: 'Island Moments';
}

h1 {
    font-size: 80px;
    margin: 0;
    transition: all .4s;
}

h1:hover {
    text-shadow: 0px 0px 10px blue;
    font-size: 100px;
}

nav {
    grid-area: nav;

}

ul {
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
}

.link {
    border: none;
    padding: 15px 32px;
    font-size: 25px;
    color: black;
    text-decoration: none;
    font-family: 'Island Moments';
    font-weight: 800;
    transition: all .4s;
}

.link:hover {
    font-size: 40px;
    text-shadow: 5px 5px 5px blue;
}

main {
    grid-area: main;
    background-image: url(josh-miller-aPvjf5DDc_I-unsplash.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.sidenote {
    color: whitesmoke;
    font-family: 'Poor Story';
    font-size: 25px;
    flex-wrap: wrap;
    width: 50%;
}

.title {
    display: inline;
    background-color: rgb(51, 66, 197);
}

button {
    background-color: rgb(51, 66, 197);
    padding: 15px 32px;
    color: whitesmoke;
    font-size: 20px;
}

#read {
    text-decoration: none;
    font-family: 'Poor Story';
    color: whitesmoke;
}

footer {
    grid-area: footer;
}

.card-container {
    display: flex;
    width: 100vw;
    justify-content: space-evenly;
    flex-wrap: wrap;
}


.example {
    height: 300px;
    width: 350px;
    border: solid 4px rgb(51, 66, 197);
    box-shadow: 5px 10px 5px black;
    margin-top: 5%;
}

.label {
    font-size: 30px;
    text-align: center;
    font-family: 'Island Moments';
}

#end {
    margin: 0;
    padding: 0;
    background-color: rgb(51, 66, 197);
    font-family: 'Poor Story';
    color: whitesmoke;
    text-align: center;
    font-size: 25px;
    flex-wrap: wrap;
}

i, p {
    margin: 0;
    padding: 5px;
}

@media (max-width: 715px) {
    body {
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: auto auto auto auto auto;
        grid-area:
            "header"
            "nav""main"
                "main"
                "footer";
            }
            
            ul {
                display: flex;
                height: 250px;
                flex-direction: column;
                align-items: center;
            }
            }
            
            @media (min-width: 716px) and (max-width: 992px) {
                body {
                    background-color: black;
                    display: grid;
                    grid-template-columns: auto auto;
                    grid-template-rows: auto auto auto auto;
                    grid-template-areas:
                        "header header"
                        "nav main"
                        "nav main"
                        "footer footer";
                    color: whitesmoke;
                }
            
                ul {
                    display: inline-flex;
                    flex-direction: column;
                    justify-content: space-around;
                    height: 600px;
                    width: 50px;
                    font-size: 100px;
                }
            
                .link {
                    color: whitesmoke;
                }

    main {
        display: flex;
        background-size: 80% 100%;
        justify-content: flex-end;
        background-position: right;
    }

    .example {
        box-shadow: 0px 0px 20px white;
    }
}